@model InternalSystem.Core.Models.WorldHeritage
<div class="row" ng-controller="ArticleController">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">资源详情 - @Model.Title</span>
                </div>
                <div class="actions">
                    <a class="btn btn-sm green" href="@Url.Action("My")">>返回资源列表</a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-1">发布人</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3"> @(Model.name)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">分类</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3">@(Model.sort)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">内容</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3">@(Model.Nr)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">简介微博消息号</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3">@(Model.Jianjie)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">开始日期</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3">@(Model.Date_start)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">人数</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3">@(Model.Rs)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">报名人数</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3">@(Model.Rs_bm)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">费用</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3">@(Model.fy)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">发布时间</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3">@(Model.AddTime)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1">报名截止日期</label>
                            <div class="col-md-11">
                                <label class="control-label col-md-3">@(Model.Date_bmzj)</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

