@model  InternalSystem.Core.Models.WorldHeritage
@{
    Layout = "~/areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title + "-" + "编辑";
}
<link rel="stylesheet" href="~/theme/style.css" type="text/css" media="screen" />
<div class="row" ng-controller="PackageController">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">@Model.Title</span>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm("Edit", "WorldHeritage", FormMethod.Post, new { @class = "form-horizontal", @role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.WorldHeritageId)
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">系统编码：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.InventoryId, new { @class = "form-control", placeholder = "系统编码" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">人工编码：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.ArtificialId, new { @class = "form-control", placeholder = "人工编码", id = "rgcode" })
                                <span id="hascode" style="color:red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">正题名：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.TitleProper, new { @class = "form-control", placeholder = "正题名" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">其他题名：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.OtherTitle, new { @class = "form-control", placeholder = "其他题名" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">艺术门类 一级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.FirstLevelOfArtClassification, new { @class = "form-control", placeholder = "艺术门类 一级分类" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">艺术门类 二级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.SecondLevelOfArtClassification, new { @class = "form-control", placeholder = "艺术门类 二级分类" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">艺术门类 三级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.ThirdLevelOfArtClassification, new { @class = "form-control", placeholder = "艺术门类 三级分类" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">民族属性 一级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.FirstLevelOfEthnicGroup, new { @class = "form-control", placeholder = "民族属性 一级分类" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> 民族属性 二级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.SecondLevelOfEthnicGroup, new { @class = "form-control", placeholder = " 民族属性 二级分类" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">民族属性 三级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Subgroup, new { @class = "form-control", placeholder = "民族属性 三级分类" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">社会属性 一级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.FirstLevelOfSocialAttributes, new { @class = "form-control", placeholder = "社会属性 一级分类" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">社会属性 二级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.SecondLevelOfSocialAttributes, new { @class = "form-control", placeholder = "社会属性 二级分类" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">艺术形态 时代属性：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.TimesProperty, new { @class = "form-control", placeholder = "艺术形态 时代属性" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">艺术形态  组成要素 一级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.FirstLevelOfElements, new { @class = "form-control", placeholder = "艺术形态  组成要素 一级分类" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">艺术形态 组成要素 二级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.SecondLevelOfElements, new { @class = "form-control", placeholder = "艺术形态 组成要素 二级分类" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">艺术形态 组成要素 三级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.ThirdLevelOfElements, new { @class = "form-control", placeholder = "艺术形态 组成要素 三级分类" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">脚色行当 一级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.FirstLevelOfCharacter, new { @class = "form-control", placeholder = "脚色行当 一级分类" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">脚色行当 二级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.SecondLevelOfCharacter, new { @class = "form-control", placeholder = "脚色行当 二级分类" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">艺术形态 艺术流派：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.ArtSchool, new { @class = "form-control", placeholder = "艺术形态 艺术流派" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">类型：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.PerformingForm, new { @class = "form-control", placeholder = "艺术形态 表演形式" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">艺术形态 结构体式：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Structure, new { @class = "form-control", placeholder = "艺术形态 结构体式" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">曲牌板式 曲牌名：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.SongPattern, new { @class = "form-control", placeholder = "曲牌板式 曲牌名" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">曲牌板式 板式：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.BeatsPattern, new { @class = "form-control", placeholder = "曲牌板式 板式" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">律吕宫调 民间调式：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.MusicModeName, new { @class = "form-control", placeholder = "律吕宫调 民间调式" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">律吕宫调 工尺谱系：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.GongCheModeName, new { @class = "form-control", placeholder = "律吕宫调 工尺谱系" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> 律吕宫调 简谱系统：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.NumberedMusicalNotationModeName, new { @class = "form-control", placeholder = " 律吕宫调 简谱系统" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">律吕宫调 《九宫大成》系统：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.JiuGongDaChengModeName, new { @class = "form-control", placeholder = "律吕宫调 《九宫大成》系统" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">资源属性 一级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.FirstLevelOfSubjectClassification, new { @class = "form-control", placeholder = "资源属性 一级分类" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">资源属性 二级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.SecondLevelOfResourcesClassification, new { @class = "form-control", placeholder = "资源属性 二级分类" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">资源属性 三级分类：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.ThirdLevelOfResourcesClassification, new { @class = "form-control", placeholder = "资源属性 三级分类" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">资源属性 关键词：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Keywords, new { @class = "form-control", placeholder = "关键词" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">描述 摘要：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Abstract, new { @class = "form-control", placeholder = "描述 摘要" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">描述 获奖 奖项名称：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.NameOfAwards, new { @class = "form-control", placeholder = "描述 获奖 奖项名称" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">描述 获奖 获奖年度或届次：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.YearOrTimeOfAwards, new { @class = "form-control", placeholder = "描述 获奖 获奖年度或届次" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">描述 获奖 颁奖单位：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Awarder, new { @class = "form-control", placeholder = "描述 获奖 颁奖单位" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">类型：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Type, new { @class = "form-control", placeholder = "类型" })
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-md-3 control-label">相关人物/组织 人物/组织名称：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "相关人物/组织 人物/组织名称" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">责任方式：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Role, new { @class = "form-control", placeholder = "责任方式" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">民族：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.NationalityOfRelatedPeople, new { @class = "form-control", placeholder = "民族" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">籍贯：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.BirthplaceOfRelatedPeople, new { @class = "form-control", placeholder = "籍贯" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">性别：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.GenderOfRelatedPeople, new { @class = "form-control", placeholder = "性别" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">年龄：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.AgeOfRelatedPeople, new { @class = "form-control", placeholder = "年龄" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">文化程度：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.EducationLevelOfRelatedPeople, new { @class = "form-control", placeholder = "文化程度" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">职业/职称：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.VocationOfRelatedPeople, new { @class = "form-control", placeholder = "职业/职称" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">时间类型：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.TemporalType, new { @class = "form-control", placeholder = "时间类型" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">历史纪年 起始时间：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.FromHistoricalCalendar, new { @class = "form-control", placeholder = "历史纪年 起始时间" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">历史纪年 结束时间：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.ToHistoricalCalendar, new { @class = "form-control", placeholder = "历史纪年 结束时间" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">公元纪年 起始时间：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.FromADCalendar, new { @class = "form-control", placeholder = "公元纪年 起始时间" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">公元纪年 结束时间：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.ToADCalendar, new { @class = "form-control", placeholder = "公元纪年 结束时间" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">空间类型：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.SpatialType, new { @class = "form-control", placeholder = "空间类型" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">地域/地点名称 时地名：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.HistoricalPlaceName, new { @class = "form-control", placeholder = "地域/地点名称 时地名" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">地域/地点名称 今地名：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.PresentPlaceName, new { @class = "form-control", placeholder = "地域/地点名称 今地名" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">地域/地点名称 其他地名：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.OtherPlaceName, new { @class = "form-control", placeholder = "地域/地点名称 其他地名" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">省：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Province, new { @class = "form-control", placeholder = "省" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">市：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "市" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">县：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.County, new { @class = "form-control", placeholder = "县" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">镇：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Town, new { @class = "form-control", placeholder = "镇" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">村：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Village, new { @class = "form-control", placeholder = "村" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">场地：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Venues, new { @class = "form-control", placeholder = "场地" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">经纬度：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.LongitudeLatitude, new { @class = "form-control", placeholder = "经纬度" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">语言：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Language, new { @class = "form-control", placeholder = "语言" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">关联 包含：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.HasPart, new { @class = "form-control", placeholder = "关联 包含" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"> 关联 包含于：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.IsPartOf, new { @class = "form-control", placeholder = " 关联 包含于" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"> 关联 参照：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Refer, new { @class = "form-control", placeholder = " 关联 参照" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"> 关联 有格式为：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.HasFormat, new { @class = "form-control", placeholder = " 关联 有格式为" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"> 来源 出处/源资料名称：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.NameReferences, new { @class = "form-control", placeholder = " 来源 出处/源资料名称" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"> 源资料创建者 责任方式：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.NameofReferencesCreator, new { @class = "form-control", placeholder = " 源资料创建者 责任方式" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"> 国际标准书号/国际标准音像制品编：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.RoleofReferencesCreator, new { @class = "form-control", placeholder = " 国际标准书号/国际标准音像制品编" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> 国际标准书号/国际标准音像制品编：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.ISBNISRC, new { @class = "form-control", placeholder = " 国际标准书号/国际标准音像制品编" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">资料格式类型：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.ReferencesFormat, new { @class = "form-control", placeholder = "资料格式类型" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">获取方式：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.AcquisitionMethod, new { @class = "form-control", placeholder = "获取方式" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">源资料提供者：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.ProviderOfReferences, new { @class = "form-control", placeholder = "源资料提供者" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">源资料典藏单位：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.RepositoryName, new { @class = "form-control", placeholder = "源资料典藏单位" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">出版 出版者：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Publisher, new { @class = "form-control", placeholder = "出版 出版者" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">出版 出版时间：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.PublicationDate, new { @class = "form-control", placeholder = "出版 出版时间" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">出版 出版地：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.PlaceOfPublication, new { @class = "form-control", placeholder = "出版 出版地" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">数字化信息  数字化格式：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.DigitalObjectFormat, new { @class = "form-control", placeholder = "数字化信息  数字化格式" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">大小：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Size, new { @class = "form-control", placeholder = "大小" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">时长：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Duration, new { @class = "form-control", placeholder = "时长" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">分辨率（解析度）：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.DigitalSpecification, new { @class = "form-control", placeholder = "分辨率（解析度）" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">音/视频数据码率：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.AudioVideoBitRate, new { @class = "form-control", placeholder = "音/视频数据码率" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">音频采样频率：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.AudioSamplingFrequency, new { @class = "form-control", placeholder = "音频采样频率" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">声道数：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.NumberOfChannels, new { @class = "form-control", placeholder = "声道数" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">储存地址：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.FilePath, new { @class = "form-control", placeholder = "储存地址" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">显示级别：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.DisplayType, new { @class = "form-control", placeholder = "显示级别" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">备份光盘存放编号：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.CDNumber, new { @class = "form-control", placeholder = "备份光盘存放编号" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">授权者：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Holder, new { @class = "form-control", placeholder = "授权者" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">授权起止时间：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.RightsDate, new { @class = "form-control", placeholder = "授权起止时间" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">授权条款：</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Licens, new { @class = "form-control", placeholder = "授权条款" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">备注：</label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.Note, new { @class = "form-control", placeholder = " 备注", rows = "10" })
                            </div>
                        </div>
                        @if (Model.HeritageType == 2)
                        {
                            <div class="form-group">
                                <label class="col-md-3 control-label">图片：</label>
                                <div class="col-md-9">
                                    <img src="~/Uploads/pic/@(Model.FileName)" alt="" width="300px" />
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div>
                                            <span class="btn default btn-file">
                                                <span class="fileinput-new">
                                                    选择图片
                                                </span>
                                                <input type="file" name="file">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.HeritageType == 0)
                        {
                            <input type="hidden" value="@(Model.FileName)" id="videourl" />
                            <div class="form-group">
                                <label class="control-label col-md-1" style="width:200px">媒体文件:</label>
                                <div class="">
                                    <center>
                                        <div>
                                            <video id="videoplayer" poster="~/img/pic.png" title="this is Projekktor" width="900" height="500" controls=controls>
                                                <source id="videosource" src="" type="video/mp4" />
                                            </video>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        }
                        else if (Model.HeritageType == 1)
                        {
                            <div class="form-group">
                                <label class="control-label col-md-1" style="width:200px">内容:</label>
                                <div class="col-md-6">
                                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", placeholder = "内容", rows = "20" })
                                </div>
                            </div>
                        }
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">保 存</button>
                                    <a href="@Url.Action("My")" class="btn default">取消，返回列表</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/projekktor.js"></script>
<script>
    $(function () {
        var curWwwPath = window.document.location.href;
        var pathName = window.document.location.pathname;
        var pos = curWwwPath.indexOf(pathName);
        var localhostPaht = curWwwPath.substring(0, pos);

        $('#videosource').attr("src", localhostPaht + $('#videourl').val().substring(1));
        setTimeout(function () {
            projekktor('#videoplayer'); // instantiation
        }, 100)
    })
</script>