@using PagedList;
@using PagedList.Mvc

@model StaticPagedList<InternalSystem.Core.Models.WorldHeritage>
@{
    ViewBag.Title = "资源列表";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">资源列表</span>
                </div>
                <div class="pull-right">

                    <div class="btn-group">
                        <a class="btn btn-sm green" href="@Url.Action("Create")">
                            添加资源 <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">

                <div class="table-scrollable table-scrollable-borderless">

                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th>昵称</th>
                                <th>LoginId</th>
                                <th>权限</th>
                                <th>创建日期</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count != 0)
                            {
                                foreach (var item in Model.Where(item => item != null))
                                {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.LoginId
                                        </td>
                                        <td>
                                            @(item.Authority == 0 ? "超级管理员" : "管理员")
                                        </td>
                                        <td>
                                            @DateTime.Parse(item.CreatedUtc.ToString()).ToString("yyyy-MM-dd HH:mm:ss")
                                        </td>
                                        <td>

                                            <a class="btn default btn-xs purple-stripe" href="@Url.Action("Edit", new{id = item.ManagerId})"><i class="fa fc-month-view"></i> 编辑</a>
                                            <a href="@Url.Action("Delete", new { id = item.ManagerId })" onclick=" return confirm('确认删除吗？'); " class="btn default btn-xs red">
                                                <i class="fa fa-trash-o"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        共@(Model.TotalItemCount)条,每页@(Model.PageSize)条,当前@(Model.PageNumber)/@(Model.PageCount)页
                    </div>
                    <div class="col-md-7 col-sm-12 text-right">
                        @Html.PagedListPager(Model, page => Url.Action("List", new { page, @size = ViewBag.Size }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
