@using PagedList;
@using PagedList.Mvc

@model StaticPagedList<InternalSystem.Core.Models.WorldHeritage>
@{
    ViewBag.Title = "我的资源列表";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">我的资源</span>
                </div>
                <div class="pull-right">

                    <div class="btn-group">
                        <a class="btn btn-sm green" href="@Url.Action("Create")">
                            添加资源 <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr>
                                <th>正题名</th>
                             
                                <th>项目类型</th>
                                <th>创建时间</th>
                                <th>审核状态</th>
                                <th>发布状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count != 0)
                            {
                                foreach (var item in Model.Where(item => item != null))
                                {
                                    <tr>
                                        <td>
                                            <a href="@(Url.Action("Detail",new{id=item.WorldHeritageId}))">@item.TitleProper</a>
                                        </td>
                                    
                                        <td>
                                            @if (item.HeritageType == 0)
                                            {
                                                <span>视频</span>
                                            }
                                            else if (item.HeritageType == 1)
                                            {
                                                <span>文本</span>
                                            }
                                            else if (item.HeritageType == 2)
                                            {
                                                <span>图片</span>
                                            }
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.CreatedUtc.ToString()))
                                            {
                                                @DateTime.Parse(item.CreatedUtc.ToString()).ToString("yyyy-MM-dd")
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsEffect == 0)
                                            {
                                                <span>未审核</span>
                                            }
                                            else if (item.IsEffect == 1)
                                            {
                                                <span>已审核</span>
                                            }
                                            else if (item.IsEffect == 2)
                                            {
                                                <span>已拒绝</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsShow == 1)
                                            {
                                                <span>已发布</span>
                                            }
                                            else
                                            {
                                                <span>未发布</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn default btn-xs purple" href="@Url.Action("Detail", new { id = item.WorldHeritageId })">查看详情</a>
                                            <a class="btn default btn-xs green" href="@Url.Action("Edit", new {id = item.WorldHeritageId})">编辑</a>
                                            <a href="@Url.Action("Delete", new {id = item.WorldHeritageId})" onclick=" return confirm('确认删除吗？'); " class="btn default btn-xs red">
                                                <i class="fa fa-trash-o"></i> 删除
                                            </a>
                                            @if (item.IsEffect == 2)
                                            {
                                                <a class="btn default btn-xs purple-stripe" href="@Url.Action("Verify", new { id = item.WorldHeritageId })"> 再次提交审核</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        共@(Model.TotalItemCount)条,每页@(Model.PageSize)条,当前@(Model.PageNumber)/@(Model.PageCount)页
                    </div>
                    <div class="col-md-7 col-sm-12 text-right">
                        @Html.PagedListPager(Model, page => Url.Action("My", new { page, @size = ViewBag.Size }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
