@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>文化资源归集系统</title>
    <link rel="stylesheet" href="~/theme/style.css" type="text/css" media="screen" />
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/mediaelement-and-player.min.js"></script>
    <link href="~/css/css.css" type="text/css" rel="stylesheet" />
    <link href="~/css/mediaelementplayer.min.css" rel="stylesheet" />
    <script src="~/Scripts/projekktor.js"></script>
    <link href="~/css/fyjsstyle.css" rel="stylesheet" />
    <script>
        var sc = sc || {};
        sc.baseUrl = '@Url.Content("~/")';
    </script>
</head>

<body ng-app="scApp" ng-controller="DetailController">
    <div class="top"></div>
    <div class="logo"><img src="~/img/logo-01.png" style="margin-left: 330px;width:100px;height:100px;" class="work-img-wid fyimg" /></div>
    <div class="logo"><img src="~/img/logo.png" style="width:300px;margin-top:30px" /></div>
    <div id="wrap">
        <!--整体-->
        <div class="index-nav">

            <div class="nav">
                <ul style="height:23px;">
                    <li><a href="@Url.Action("main","home")">首 页</a></li>
                    <li><a href="@Url.Action("videolist", "home")">资源搜索</a></li>
                    @*<li><a href="@Url.Action("v>视频资源</a></li>
                    @*<li><a href="@Url.Action("videolist", "home", new System.Web.Routing.RouteValueDictionary { { "type", "2" } })">图片资源</a></li>
                        <li><a href="@Url.Action("videolist", "home", new System.Web.Routing.RouteValueDictionary { { "type", "1" } })">文本资源</a></li>*@
                    <li><a href="@Url.Action("ICHintroduce", "home")">文化资源介绍</a></li>
                    <li><a href="/Admin/Account/Login">资源管理</a></li>
                </ul>
            </div>
        </div>
        <div style=" clear:both;"></div>
        @*<div class="banner">
                <div id="owl-demo" class="owl-carousel">
                    <a class="item"><img src="~/images/1.jpg" alt="" /></a>
                    <a class="item"><img src="~/images/2.jpg" alt="" /></a>
                    <a class="item"><img src="~/images/3.jpg" alt="" /></a>
                    <a class="item"><img src="~/images/4.jpg" alt="" /></a>
                    <a class="item"><img src="~/images/5.jpg" alt="" /></a>
                </div>
            </div>*@
        <div style=" clear:both;"></div>

        <div>
            <div class="box-nav">
                <div class="box-nav-left"><img src="~/img/15.png" style="width:149px;" class="work-img-wid fyimg" /></div>
                <div class="box-nav-right"><strong>首页 > 视频资源 > 详情</strong></div>
            </div>
            <img src="~/img/002.png" width="1003" />
            <div class="abouttext">
                <p><strong><span ng-bind="videoinfo.TitleProper" style="font-size:x-large;color:#6b0101;"></span></strong></p>
                <div style="border:#ccc 1px dashed; width:90%; margin:10px auto;"></div>
                <p>
                    <span>
                        @*著录者：<span ng-bind="videoinfo.Description" style="color: black; margin-right: 50px"></span>*@
                       <span style="margin-left:70%">著录时间：</span> <span ng-bind="videoinfo.ReleaseDateTime" style="color: black; margin-right: 50px"></span>
                    </span>
                </p>
                <div class="text">
                    <p style="color: #6b0101;">
                        项目类别：<span ng-bind="videoinfo.FirstLevelOfArtClassification" style="color:#0055cb;"></span>-
                        <span ng-bind="videoinfo.SecondLevelOfArtClassification" style="color: #0055cb; "></span>-
                        <span ng-bind="videoinfo.ThirdLevelOfArtClassification" style="color: #0055cb; margin-right: 50px"></span>
                     
                    </p>
                    <p style="color: #6b0101;">
                        艺术流派：<span ng-bind="videoinfo.ArtSchool" style="color: #0055cb; margin-right: 50px"></span>
                        民族：<span ng-bind="videoinfo.SecondLevelOfEthnicGroup" style="color: #0055cb; margin-right: 50px"></span>
                        相关人物：<span ng-bind="videoinfo.Name" style="color: #0055cb;"></span>
                    </p>
                    <p style="color: #6b0101;">
                        省/直辖市：<span ng-bind="videoinfo.Province" style="color: #0055cb; margin-right: 50px"></span>
                        市/地区：<span ng-bind="videoinfo.City" style="color: #0055cb; margin-right: 50px"></span>
                        县/县级市：<span ng-bind="videoinfo.County" style="color: #0055cb; margin-right: 50px"></span>
                        乡/镇：<span ng-bind="videoinfo.Town" style="color: #0055cb;"></span>
                    </p>
                    <p style="color: #6b0101;" >
                        源资料格式：<span ng-bind="videoinfo.ReferencesFormat" style="color: #0055cb; margin-right: 50px"></span>
                        源资料提供者：<span ng-bind="videoinfo.ProviderOfReferences" style="color: #0055cb; margin-right: 50px"></span>
                        时长：<span ng-bind="videoinfo.Duration" style="color: #0055cb;"></span>
                    </p>

                    <center>
                        <div ng-show="videoinfo.HeritageType==0">
                            <h2>视频</h2>
                            <video id="videoplayer" poster="~/img/pic.png" title="this is Projekktor" width="900" height="500" controls=controls>
                                <source id="videosource" src="" type="video/mp4" />
                            </video>
                        </div>
                        <div ng-show="videoinfo.HeritageType==1">
                            <h2>文本内容</h2>
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{videoinfo.Content}}
                            </span>
                        </div>
                        <div ng-show="videoinfo.HeritageType==2">
                            <h2>图片</h2>
                            <img src="{{videoinfo.FileName}}" style="width:100%" />
                        </div>
                    </center>

                </div>
            </div>


        </div>
    </div>
    <div style=" clear:both;"></div>
    <div class="foot">
            <div class="foot-text">
                <p>版权所有：北京华阳凡科数字控制技术有限公司　 24小时热线电话：010-56718031</p>
                <p>地址：北京市朝阳区朝来高科技产业园6楼西侧3层　</p>
                <p>技术支持：北京华阳凡科数字控制技术有限公司</p>
            </div>
    </div>
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/angular.bundled.min.js"></script>
    <script src="~/Scripts/seco-app.js"></script>
    <script>
        //$(function () {
        //    $('#owl-demo').owlCarousel({
        //        items: 1,
        //        autoPlay: true
        //    });
        //});

        $(function () {
            //导航图片切换
            $('.nav').mousemove(function () {
                $('.nav').css('background', 'url(../img/nav-2.png)');
            })

            $('.nav').mouseleave(function () {
                $('.nav').css('background', 'url(../img/nav.png)');
            })
        })
    </script>
</body>
</html>
