@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="Interient Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <title>文化资源归集系统</title>
    <link href="~/css/css.css" type="text/css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/fyjsstyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/theme/style.css" type="text/css" media="screen" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/pagination.css" rel="stylesheet" type="text/css" />
    <link href="~/css/css.css" type="text/css" rel="stylesheet" />
    <style>
        .fyimg {
        width:570px;
        height:360px;
        }
    </style>
    <script>
        var sc = sc || {};
        sc.baseUrl = '@Url.Content("~/")';
    </script>
</head>

<body>
    <div class="top"></div>

    <div class="logo"><img src="~/img/logo-01.png" style="margin-left: 330px;width:100px;height:100px;" class="work-img-wid fyimg" /></div>
    <div class="logo"><img src="~/img/logo.png" style="width:300px;margin-top:30px" /></div>
    <div id="wrap">
        <!--整体-->
        <div class="index-nav">

            <div class="nav">
                <ul>
                    <li><a href="@Url.Action("main","home")">首 页</a></li>
                    <li><a href="@Url.Action("videolist", "home", new System.Web.Routing.RouteValueDictionary { { "type", "0" } })">资源搜索</a></li>
                    @*<li><a href="@Url.Action("videolist", "home", new System.Web.Routing.RouteValueDictionary { { "type", "2" } })">图片资源</a></li>
                        <li><a href="@Url.Action("videolist", "home", new System.Web.Routing.RouteValueDictionary { { "type", "1" } })">文本资源</a></li>*@
                    <li><a href="@Url.Action("ICHintroduce", "home")">文化资源介绍</a></li>
                    <li><a href="/Admin/Account/Login">资源管理</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style=" clear:both;"></div>

    <div class="index-box-up" >

        <div class="" style="width:1003px;margin:0 auto;">
            <div class="box-nav">
                <div class="box-nav-left"><img src="~/img/16.png" class="work-img-wid fyimg" style="width:149px;height:61px;" /></div>
                <div class="box-nav-right"><strong>首页 > 视频列表</strong></div>
            </div>
            <img src="~/img/002.png" width="740" />
            <p><strong></strong></p>
        </div>
    </div>
    <div class="content" style="text-align:center;">
        @*<section class="best-quality">
                <div class="container">
                    <p style="font-size:45px;color:#7c0000;font-weight:800;font-family:KaiTi;">文化资源介绍</p>
                </div>
            </section>*@
        <h2 style="font-family:KaiTi;color:#ae0606;font-size:48px;margin:0 auto;font-weight:800;">文化资源介绍</h2>
        <div class="work-section">
            <div class="container">
                <div class="col-md-6 work-grids">
                    <div class="work-grid-text">
                        <ul>
                            <li> <span></span>非物质文化遗产简介： </li>
                        </ul>
                        <div class="clearfix"></div>
                        <p style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;非物质文化遗产是指各族人民世代相承的，与群众生活密切相关的各种传统文化表现形式（如民俗活动，表演艺术，传统知识和技能，以及与之相关的器具，实物，手工制品等）和文化空间（即定期举行传统文化活动或集中展现传统文化表现形式的场所，兼具空间性和时间性）。非物质文化遗产的范围包括：口头传统，包括作为文化载体的语言。传统表演艺术。民俗活动，礼仪，节庆。有关自然界和宇宙的民间传统知识和实践。传统手工艺技能。与上述表现形式相关的文化空间。</p>
                        @*<a class="btn btn-default work-btn" href="#" role="button">了解更多》</a>*@
                    </div>
                </div>
                <div class="col-md-6 work-grids">
                    <div class="work-img"> <img style="width:570px;height:410px" src="~/images/wrk.jpg" alt="/" class="work-img-wid fyimg"> </div>
                </div>
                <div class="col-md-6 work-grids">
                    <div class="work-img"> <img style="width:570px;height:381px" src="~/images/wrk1.jpg" alt="/" class="work-img-wid fyimg"> </div>
                </div>
                <div class="col-md-6 work-grids">
                    <div class="work-grid-text">
                        <ul>
                            <li> <span></span>保护物质文化遗产！ </li>
                        </ul>
                        <div class="clearfix"></div>
                        <p style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我国的非物质文化遗产是承载中华民族精神与情感的重要载体，是维系国家统一，民族团结的基础，也是人类智慧的体现。然而，在经济全球化和现代化的冲击下，我国的非物质文化遗产正面临着前所未有的急剧变迁。我国非物质文化遗产赖以生存和发展的重要基础-----农耕（游牧）文明的逐渐削弱乃至在部分地区的消失，民众世界观，人生观和价值观的嬗变，加之外来文化的影响，给一向主要靠口传心授方式传承的非物质文化遗产，以及文化传统带来了巨大影响，使之逐渐的失去了生存的土壤，有历史，文化和科学价值的非物质文化遗产遭到不同程度的破坏，甚至由于传承人的逝去而濒于消亡，大量有历史，文化价值的珍贵实物与资料遭到毁弃，或因非法走私而流失境外。因此，加快非物质文化遗产的保护工作已迫在眉睫。</p>
                        @*<a class="btn btn-default work-btn" href="#" role="button">了解更多》</a>*@
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="our-latest">
            <div class="container">
                <h2 style="font-family:KaiTi;color:#ae0606;font-size:48px;">文化风采</h2>
                <div class="col-md-6 latest-grid">
                    <div class="latest-bg-pos">
                        <img src="~/images/proj2.jpg" alt="/" class="latest-img fyimg">
                        <div class="latest-text">
                            <div class="border-line">
                                <h3>由女说唱艺人演唱《辉特特美日跟特木尼传说》——吴星摄</h3>
                                @*<p>7<small>th</small> July, 2015</p>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 latest-grid">
                    <div class="latest-bg-pos">
                        <img src="~/images/proj.jpg" alt="/" class="latest-img fyimg">
                        <div class="latest-text">
                            <div class="border-line">
                                <h3>《彝族传统手工服饰》——邵平摄</h3>
                                @*<p>25<small>th</small> Aug, 2015</p>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 latest-grid">
                    <div class="latest-bg-pos">
                        <img src="~/images/proj1.jpg" alt="/" class="latest-img fyimg">
                        <div class="latest-text">
                            <div class="border-line">
                                <h3>2000年5月11日(农历四月初八)转山会上传统赛马活动——康定县文化馆摄</h3>
                                @*<p>18<small>th</small> May, 2015</p>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 latest-grid">
                    <div class="latest-bg-pos">
                        <img src="~/images/proj3.jpg" alt="/" class="latest-img fyimg">
                        <div class="latest-text">
                            <div class="border-line">
                                <h3>2013年9月通道双江乡上团村举行讲款，市级传承人杨通照在讲款，款众在庄严的听，每讲完一段款众会高声应和“是呀”——张红摄</h3>
                                @*<p>7<small>th</small> Feb, 2015</p>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>




    <div class="foot">
        <div class="foot-text">
            <p>版权所有：北京华阳凡科数字控制技术有限公司　 24小时热线电话：010-56718031</p>
            <p>地址：北京市朝阳区朝来高科技产业园6楼西侧3层　</p>
            <p>技术支持：北京华阳凡科数字控制技术有限公司</p>
        </div>
    </div>
    <script src="~/Scripts/jquery.js"></script>
    <script>
        $(function () {
            //导航图片切换
            $('.nav').mousemove(function () {
                $('.nav').css('background', 'url(../img/nav-2.png)');
            })

            $('.nav').mouseleave(function () {
                $('.nav').css('background', 'url(../img/nav.png)');
            })
        })
    </script>
</body>
</html>
