@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>文化资源归集系统</title>
    <link href="~/css/css.css" type="text/css" rel="stylesheet" />
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.css" rel="stylesheet">
    <link href="~/css/picdelstyle.css" rel="stylesheet">

    <style>
        #owl-demo {
            width: 1000px;
            height: 450px;
            margin-left: auto;
            margin-right: auto;
        }

            #owl-demo .item {
                display: block;
            }

            #owl-demo img {
                display: block;
                height: 450px;
                width: 100%;
            }

        /*owl-foot*/
        #owl-foot {
            width: 850px;
            margin-left: auto;
            margin-right: auto;
        }

            #owl-foot .item {
                display: block;
                margin: 5px;
            }

            #owl-foot img {
                display: block;
                width: 100%;
                height: 125px;
            }
    </style>
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.colorbox-min.js"></script>
    <script>
        var sc = sc || {};
        sc.baseUrl = '@Url.Content("~/")';
    </script>
</head>

<body ng-app="scApp" ng-controller="HomeController">
    <div class="top"></div>
    <div class="logo" style="height:100px;"><img src="~/img/logo-01.png" style="margin-left:330px;" /></div>
    <div class="logo"><img src="~/img/logo.png" style="width:300px;margin-top:30px" /></div>
    <div id="wrap">
        <!--整体-->
        <div class="index-nav">

            <div class="nav">
                <ul style="height:23px;">
                    <li><a href="@Url.Action("main","home")">首 页</a></li>
                    <li><a href="@Url.Action("videolist", "home")">资源搜索</a></li>
                    @*<li><a href="@Url.Action("v>资源搜索</a></li>
            @*<li><a href="@Url.Action("videolist", "home", new System.Web.Routing.RouteValueDictionary { { "type", "2" } })">图片资源</a></li>
                <li><a href="@Url.Action("videolist", "home", new System.Web.Routing.RouteValueDictionary { { "type", "1" } })">文本资源</a></li>*@
                    <li><a href="@Url.Action("ICHintroduce", "home")">文化资源介绍</a></li>
                    <li><a href="/Admin/Account/Login">资源管理</a></li>
                </ul>
            </div>
        </div>

        <div style=" clear:both;"></div>
        <div class="banner">
            @*<img src="~/img/banner.png" width="100%" />*@
            <div id="owl-demo" class="owl-carousel">
                <a class="item"><img src="~/images/1.jpg" alt="" /></a>
                <a class="item"><img src="~/images/2.jpg" alt="" /></a>
                <a class="item"><img src="~/images/3.jpg" alt="" /></a>
                <a class="item"><img src="~/images/4.jpg" alt="" /></a>
                <a class="item"><img src="~/images/5.jpg" alt="" /></a>
            </div>
        </div>
        <div style=" clear:both;"></div>
        <div class="index-box">
            <div class="index-box-up">
                <div class="index-box-left">
                    <div class="box-nav">
                        <div class="box-nav-left"><img src="~/img/11.png" width="149" /></div>
                        <div class="box-nav-right"><a href="@Url.Action("ICHintroduce", "home")">了解非遗</a></div>
                    </div>
                    <img src="~/img/001.png" width="500" />
                    <div class="box-img">
                        <img src="~/img/1-1.png" width="156" />
                        <p>非物质文化遗产是指各族人民世代相承的，与群众生活密切相关的各种传统文化表现形式（如民俗活动，表演艺术，传统知识和技能，以及与之相关的器具，实物，手工制品等）和文化空间（即定期举行传统文化活动或集中展现传统文化表现形式的场所，兼具空间性和时间性）。有关自然界和宇宙的民间传统知识和实践。与上述表现形式相关的文化空间。</p>
                    </div>
                    <img src="~/img/001.png" width="500" />
                </div>
                <div class="index-box-right">
                    <div class="box-nav">
                        <div class="box-nav-left"><img src="~/img/12.png" width="149" /></div>
                        <div class="box-nav-right"><a href="@Url.Action("ICHintroduce", "home")">了解非遗</a></div>
                    </div>
                    <img src="~/img/001.png" width="470" />
                    <div class="box-img">
                        <img src="~/img/1-2.png" width="156" />
                        <p>我国的非物质文化遗产是承载中华民族精神与情感的重要载体，是维系国家统一，民族团结的基础，也是人类智慧的体现。然而，在经济全球化和现代化的冲击下，我国的非物质文化遗产正面临着历史上前所未有的急剧变迁。大批有历史，文化和科学价值的非物质文化遗产遭到不同程度的破坏，……因此，加快非物质文化遗产的保护工作已迫在眉睫。</p>
                    </div>
                    <img src="~/img/001.png" width="470" />
                </div>
            </div>
            <div style=" clear:both;"></div>
            <div class="index-box-up">
                <div class="index-box-left">
                    <div class="box-nav">
                        <div class="box-nav-left"><img src="~/img/13.png" width="149" /></div>
                        <div class="box-nav-right"><a href="@Url.Action("videolist", "home")">+MORE</a></div>
                    </div>
                    <img src="~/img/001.png" width="500" />
                    <ul class="news_list_c" style="height:162px">
                        <li ng-repeat="item in mainVideoList" _whid="{{item.WorldHeritageId}}" onclick="openDetail($(this).attr('_whid'));">
                            <span ng-bind="item.DescriptionTime" style="color: black; float: right; "></span>
                            <a href="javascript:void(0)" title="{{item.Title}}"><span ng-bind="item.Title" style="float:left;font-size:larger;color:black"></span></a>
                        </li>

                    </ul>
                    <img src="~/img/001.png" width="500" />
                </div>
                <div class="index-box-right">
                    <div class="box-nav">
                        <div class="box-nav-left"><img src="~/img/14.png" width="149" /></div>
                        @*<div class="box-nav-right"><a href="news.html">+MORE</a></div>*@
                    </div>
                    <img src="~/img/001.png" width="460" />
                    <div class="box-img">
                        <img src="~/img/1.png" width="156" />
                        <p>凤阳非遗保护与传承取得明显成效,近年来，凤阳县高度重视文化建设，创新工作机制，在坚持区域性整体保护的同时，积极做好凤阳花鼓、凤阳民歌、凤阳凤画等非物质文化遗产的传承、保护、开发和利用工作，取得明显成效。凤阳花鼓戏、凤阳民歌等4项目入选省级非遗项目，并申报公布了凤阳民乐等10项市级29项县级非遗项目。</p>
                    </div>
                    <img src="~/img/001.png" width="460" />
                </div>
            </div>
        </div>
        <div style=" clear:both;"></div>

        <div class="pic" style="width: 1003px;height:182px">
            <div id="owl-foot" class="owl-carousel" style="padding:20px;left:20px ">
                <a class="item" href="~/images/中国记忆foot/1.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/1.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/2.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/2.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/3.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/3.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/4.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/4.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/5.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/5.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/6.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/6.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/7.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/7.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/8.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/8.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/9.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/9.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/10.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/10.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/11.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/11.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/12.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/12.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/13.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/13.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/14.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/14.jpg" alt=""></a>
                <a class="item" href="~/images/中国记忆foot/15.jpg" rel="colorbox1"><img src="~/images/中国记忆foot/15.jpg" alt=""></a>
            </div>
        </div>
    </div>
    <div style=" clear:both;"></div>
    <div class="foot">
        <div class="footer">
            <div class="foot-text">
                <p>版权所有：北京华阳凡科数字控制技术有限公司　 24小时热线电话：010-56718031</p>
                <p>地址：北京市朝阳区朝来高科技产业园6楼西侧3层　</p>
                <p>技术支持：北京华阳凡科数字控制技术有限公司</p>
            </div>
        </div>
    </div>


    <script src="~/Scripts/angular.bundled.min.js"></script>
    <script src="~/Scripts/seco-app.js"></script>
    <script>
        $(function () {
            $('#owl-demo').owlCarousel({
                items: 1,
                autoPlay: true
            });

            $('#owl-foot').owlCarousel({
                //dots: false
            });

            $("#owl-foot .owl-controls").css('display', 'none')// /*#owl-foot .owl-controls {

            //openPicModal = function (ele) {
            //    console.log($(ele).find('img').attr('src'));
            //}

            //图片浮层
            $(".item[rel^='colorbox']").colorbox({
                title: " ",
                slideshow: true,
                slideshowAuto: false,
                previous: "上一张",
                next: "下一张",
                close: "关闭",
                slideshowStart: "播放",
                slideshowStop: "暂停",
                current: "第 {current} 张 (共{total}张)"
            });
        });
    </script>
</body>
</html>
