@using InternalSystem.Core.Basis
@functions {
    public string CheckActive(string controller)
    {
        var controllers = controller.Split(',');
        string currentController = Request.RequestContext.RouteData.Values["controller"].ToString();
        return controllers.Any(x => x == currentController) ? "active" : "";
    }

}
@{
    var user = UserLogin.GetUserInfo();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>@ViewBag.Title </title>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/Assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/Assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/plugins/uniform/css/uniform.default.min.css" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    @RenderSection("head", false)
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Assets/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/layout.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color">
    <link href="~/Assets/css/custom.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/Content/site-admin.css" rel="stylesheet" type="text/css" />


 


    <!-- END THEME STYLES -->
    <script>
        var sc = sc || {};
        sc.baseUrl = '@Url.Content("~/")';
    </script>
</head>
<body ng-app="scApp" ng-controller="RootController">
    <!-- BEGIN HEADER -->
    <div class="page-header">
        <!-- BEGIN HEADER TOP -->
        <div class="page-header-top">
            <div class="container">
                <!-- BEGIN LOGO -->
                <div class="page-logo" style="width:550px">
                    <a href="@Url.Action("Index", "Home")">
                        @*<img src="~/Assets/img/logo-default.png" alt="logo" class="logo-default">*@
                        <h1>文化资源归集系统后台管理中心</h1>
                    </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler"></a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="~/Assets/img/avatar.png">
                                <span class="username username-hide-mobile">@user.LoginId</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="@Url.Action("ModifyPassword", "Manager")">
                                        <i class="icon-user-female"></i> 修改密码
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logout", "Account")">
                                        <i class="icon-key"></i> 登出
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- END HEADER TOP -->
        <!-- BEGIN HEADER MENU -->
        <div class="page-header-menu">
            <div class="container">
                <!-- BEGIN MEGA MENU -->
                <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                <div class="hor-menu ">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@(Url.Action("Index", "Home"))">
                                首页
                            </a>
                        </li>
                        @if (user.Authority == 0)
                        {
                            <li>
                                <a href="@(Url.Action("Index", "Import"))">
                                    文件导入 @*<i class="fa fa-angle-down"></i>*@
                                </a>
                            </li>
                        }
                        @if (user.Authority == 2)
                        {
                            <li>
                                <a href="@(Url.Action("My", "WorldHeritage"))">
                                    我的资源
                                </a>
                            </li>
                        }
                        @if (user.Authority == 0)//超管
                        {
                            <li>
                                <a href="@(Url.Action("List", "WorldHeritage"))">
                                    资源管理
                                </a>
                            </li>
                        }
                        @if (user.Authority == 1)//普管
                        {
                            <li>
                                <a href="@(Url.Action("List", "WorldHeritage"))">
                                    资源审核管理
                                </a>
                            </li>
                        }
                        @if (user.Authority == 3)//发布者
                        {
                            <li>
                                <a href="@(Url.Action("Release", "WorldHeritage"))">
                                    资源发布管理
                                </a>
                            </li>
                        }
                        @if (user.Authority == 0)
                        {
                            <li>
                                <a href="@(Url.Action("List", "Manager"))">
                                    用户管理
                                </a>
                            </li>
                        }
                        <li>
                            <a href="@(Url.Action("Attribute", "WorldHeritage"))">
                                资源属性
                            </a>
                        </li>
                        <li>
                            <a href="@(Url.Action("Permissions", "Manager"))">
                                我的权限
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MEGA MENU -->
            </div>
        </div>
        <!-- END HEADER MENU -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN PAGE CONTAINER -->
    <div class="page-container">
        <!-- BEGIN PAGE HEAD -->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>@ViewBag.Title <small>@ViewBag.SubTitle</small></h1>
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->
                <div class="page-toolbar">
                    <!-- PH: 空置工具栏 -->
                </div>
                <!-- END PAGE TOOLBAR -->
            </div>
        </div>
        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE CONTENT INNER -->
                @RenderBody()
                <!-- END PAGE CONTENT INNER -->
            </div>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="container">
            2016 &copy; 北京华阳凡科数字控制技术有限公司 <a href="#" target="_blank"></a>
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>

   @* <script src="~/Assets/scripts/metronic.js" type="text/javascript"></script>
   <script src="~/Assets/scripts/layout.js" type="text/javascript"></script>
    <script src="~/Scripts/angular.bundled.min.js"></script>
    <script src="~/Scripts/angular.ui-sortable.js"></script>
    <script src="~/Scripts/ng-infinite-scroll.min.js"></script>*@
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @RenderSection("~/Scripts", false)
    @*<script src="~/Assets/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
        <script src="~/Assets/plugins/jquery-bootpag/jquery.bootpag.min.js" type="text/javascript"></script>
        <script src="~/Assets/plugins/holder.js" type="text/javascript"></script>*@
    <!-- END PAGE LEVEL PLUGINS -->
    @*<script src="~/Scripts/seco-app-admin.js"></script>*@
    <script>
        jQuery(document).ready(function () {
            // initiate layout and plugins
            //Metronic.init(); // init metronic core components
           // Layout.init(); // init current layout
            //Demo.init(); // init demo features
        });
    </script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @*<script src="~/Assets/scripts/demo.js" type="text/javascript"></script>*@
    @RenderSection("foot", false)
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- END JAVASCRIPTS -->
</body>
</html>