@{
    ViewBag.Title = "首页";
    ViewBag.SubTitle = "";
}
@using InternalSystem.Core.Basis
@functions {
    public string CheckActive(string controller)
    {
        var controllers = controller.Split(',');
        string currentController = Request.RequestContext.RouteData.Values["controller"].ToString();
        return controllers.Any(x => x == currentController) ? "active" : "";
    }

}
@{
    var user = UserLogin.GetUserInfo();
}
<div style="height:630px">
    <h2>后台管理中心</h2>
    <span style="font-size:large">本系统集资源上传、发布、导入、审核、维护为一体的资源管理中心。</span>
    <br />
    <br />
    <div>
        @if (user.Authority == 0)//超管
        {
            <a href="/">
                <h2>   系统首页>> </h2>
            </a>
            <br />
            <a href="@(Url.Action("Index", "Import"))">
                <h2>  文件导入>> </h2>
            </a>
            <br />
            <a href="@(Url.Action("List", "WorldHeritage"))">
                <h2>  资源管理>></h2>
            </a>
            <br />
            <a href="@(Url.Action("List", "Manager"))">
                <h2>   用户管理>></h2>
            </a>
            <br />
            <a href="@(Url.Action("Logout", "Account"))">
                <h2>   退出登录>> </h2>
            </a>
        }
        @if (user.Authority == 2)//用户
        {
            <a href="/">
                <h2>   系统首页>> </h2>
            </a>
            <br />
            <a href="@(Url.Action("Create", "WorldHeritage"))">
                <h2>   新建资源>> </h2>
            </a>
            <br />
            <a href="@(Url.Action("My", "WorldHeritage"))">
                <h2>   我的资源>> </h2>
            </a>
            <br />
            <a href="@(Url.Action("ModifyPassword", "Manager"))">
                <h2>   修改密码>> </h2>
            </a>
            <br />
            <a href="@(Url.Action("Logout", "Account"))">
                <h2>   退出登录>> </h2>
            </a>
        }
        @if (user.Authority == 1)//普管
        {
            <a href="/">
                <h2>   系统首页>> </h2>
            </a>
            <br />
            <a href="@(Url.Action("List", "WorldHeritage"))">
                <h2>  审核资源>></h2>
            </a>
            <br />
            <a href="@(Url.Action("Logout", "Account"))">
                <h2>   退出登录>> </h2>
            </a>
        }
        @if (user.Authority == 3)//发布者
        {
            <a href="/">
                <h2>   系统首页>> </h2>
            </a>
            <br />
            <a href="@(Url.Action("Release", "WorldHeritage"))">
                <h2>  发布资源>></h2>
            </a>
            <br />
            <a href="@(Url.Action("Logout", "Account"))">
                <h2>   退出登录>> </h2>
            </a>
        }
    </div>
</div>
